// ==========================================================================
// Elements Variables
// ==========================================================================

// Horizontal rule
$hr__color: #ccc;

// _links
$link-color:(
    color: royalblue,
    color--hover: purple,
    color--visited: midnightblue,
);
